.blog-headline {
  padding-top: 115px;
  padding-bottom: 47px;
  background-color: #f4f5f7;

  &-container {

    &__info {

      .section-title {
        padding: 0;
        margin: 0;
        font-weight: 300;
        font-size: 48px;
        line-height: 110%;
        color: #000;
      }

      .form-search {
        max-width: 359px;
        width: 100%;
        padding-top: 40px;

        .blog-form {
          position: relative;
          border-bottom: 1px solid rgba(70,70,70,.2);
          transition: all ease-in-out .2s;
  
          .form-control {
            height: 40px;
            padding: 0 30px 0 0;
            font-size: 18px;
            border-bottom-color: #6f6f6f;
            border: none;
            background: 0 0;
            transition: all ease-in-out .2s;

            &:focus {
              box-shadow: none;
              font-size: 12px;
            }
          }
  
          &-btn {
            position: absolute;
            right: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid rgba(66,66,77,.3);
            background-size: 12px;
            background: url(../img/blog-page/blog-search.svg) no-repeat;
            background-position: center;
          }
        }
      }
    }
  }
}


.blog-filter {
  padding-top: 40px;

  .filter-list {
    display: grid;
    grid-gap: 13px;

    &-lines {
      margin-right: 10px;

      &__link {
        display: inline-block;
        padding: 12px 26px;
        border: 1px solid #e2e3e5;
        border-radius: 60px;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: .4px;
        color: #000;
        transition: all ease-in-out .2s;

        &:hover {
          background: #B1231E;
          color: #FFFFFF;
        }
      }
    }
  }
}


@media only screen and (min-width: 768px) {

  .blog-headline-container__info .form-search {
    max-width: 250px;
    padding-top: 0px;
  }

  .blog-filter {
    .filter-list {
      display: flex;
      
      &-lines__link {
        padding: 8px 14px;
      }
    }
  }

  .contacts-form .main-form__info .form-wrapper .checkbox-contact {
    padding-top: 27px;
  }

}


@media only screen and (min-width: 992px) {
  .blog-headline {
    padding-top: 115px;
    padding-bottom: 47px;
    background-color: #f4f5f7;
  
  
  
    &-container {
  
      &__info {
  
        .section-title {
          padding: 0;
          margin: 0;
          font-weight: 300;
          font-size: 48px;
          line-height: 110%;
          color: #000;
        }
  
        .form-search {
          max-width: 359px;
          width: 100%;
  
          .blog-form {
            position: relative;
            border-bottom: 1px solid rgba(70,70,70,.2);
            transition: all ease-in-out .2s;
    
            .form-control {
              height: 40px;
              padding: 0 30px 0 0;
              font-size: 18px;
              border-bottom-color: #6f6f6f;
              border: none;
              background: 0 0;
              transition: all ease-in-out .2s;
  
              &:focus {
                box-shadow: none;
                font-size: 12px;
              }
            }
    
            &-btn {
              position: absolute;
              right: 0;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              border: 1px solid rgba(66,66,77,.3);
              background-size: 12px;
              background: url(../img/blog-page/blog-search.svg) no-repeat;
              background-position: center;
            }
          }
        }
      }
    }
  }
  
  
  .blog-filter {
    padding-top: 40px;
  
    .filter-list {
  
      &-lines {
        margin-right: 10px;
  
        &__link {
          display: inline-block;
          padding: 12px 26px;
          border: 1px solid #e2e3e5;
          border-radius: 60px;
          font-weight: 300;
          font-size: 14px;
          line-height: 14px;
          letter-spacing: .4px;
          color: #000;
          transition: all ease-in-out .2s;
  
          &:hover {
            background: #B1231E;
            color: #FFFFFF;
          }
        }
      }
    }
  
  
  }


}
