.contacts-form {
  padding-top: 40px;
  padding-bottom: 40px;

  .section-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    color: #B1231E;

  }
  .description {
    margin: 10px 0px 40px;
    font-weight: 700;
    font-size: 47px;
    max-width: 732px;
    line-height: 50px;
  }

  .contacts__img {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  .main-form {

    .form-main {
      box-shadow: 2px 4px 13px rgb(0 0 0 / 15%);
      border-radius: 6px;
      padding: 30px;
    }

    &__info {

      .section-title {
        margin-bottom: 25px;
        text-align: center;
        font-size: 18px;
        line-height: 22px;
      }
  
      .form-wrapper {
        display: flex;
        flex-direction: column;
  
        &__label {
          font-weight: 400;
          font-size: 20px;
          color: #424551;
        }
        &__input {
          width: 100%;
          height: 30px;
          margin: 20px 0px;
          padding: 20px 10px;
          font-size: 16px;
          background: #F4F5F7;
          border: 1px solid #D7DADD;
          border-radius: 4px;
  
          &:hover {
            border: 1px solid #B1231E;
            color: #B1231E;
          }
        }
        .checkbox-contact {
          display: flex;
          align-items: center;
          padding-top: 10px;
          padding-bottom: 20px;

          .radio-button {
            width: 0;
            height: 0;
            position: absolute;
            opacity: 0;
            z-index: -1;
          }

          .custom-radio-button {
            position: relative;
            display: inline-block; 
            width: 16px;
            height: 16px;
            background: #fff;
            border: 2px solid #B3B7BC;
            border-radius: 50%;
            vertical-align: text-top; 
            margin-right: 5px;

            &::before {
              content: '';
              display: inline-block;
              width: 8px;
              height: 8px;
              background: #B1231E;
              border-radius: 50%;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%) scale(0);
              transition: 0.2s ease-in;
            }
          }

          .radio-button:checked + .custom-radio-button {
            border: 2px solid #B1231E;
            &::before {
              transform: translate(-50%, -50%) scale(1);
            }
          }    

          .checkbox-label {
            padding-left: 0px;
            padding-right: 12px;
            font-weight: 400;
            font-size: 18px;
          }
        }

        .checkbox-block {
          display: flex;
          align-items: baseline;
          margin-top: 15px;
  
          .checkbox-label {
            font-size: 15px;
            padding-left: 6px;
            padding-bottom: 20px;
            
          }
        }
        .checkbox {
          position: absolute;
          z-index: -1;
          opacity: 0;

          &+label {
            display: inline-flex;
            align-items: center;
            user-select: none;

            &::before {
              content: '';
              display: inline-block;
              width: 1em;
              height: 1em;
              flex-shrink: 0;
              flex-grow: 0;
              border: 1px solid #adb5bd;
              border-radius: 0.25em;
              margin-right: 0.5em;
              background-repeat: no-repeat;
              background-position: center center;
              background-size: 50% 50%;
              transition: 0.2s ease-in;
            }
          }

          &:checked+label::before {
            background-color: #B1231E;
            background-image: url(../img/main-page/form/check.svg);
            background-size: 10px;
          }
          
        }
        .textarea {
          height: 85px;
          padding: 10px 10px;
        }
  
        .form-link {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 10px 20px;
          color: #fff;
          background: #B1231E;
          border-radius: 4px;
          text-transform: uppercase;
        }
      }
    }
  }

  .main-info {
    margin-top: 60px;
    
    .section-title {
      text-align: center;
      padding-bottom: 40px;
    } 

    &-wrapper {

      &__block {

        svg {
          width: 43px;
          height: 65px;
          margin-left: -17px;
          fill: #940d08
        }
  
        &-title {
          font-weight: 600;
          font-size: 20px;
        }
  
        &-description {
          font-size: 19px;
          font-weight: 500;
        }
      }
    } 
  }
}

@media only screen and (min-width: 768px) {
  .main-info-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
  }  
}


@media only screen and (min-width: 992px) {
  .contacts-form {
    padding-top: 80px;
    padding-bottom: 80px;

    .description {
      margin: 10px 0px 40px;
      font-weight: 700;
      font-size: 47px;
      max-width: 732px;
      line-height: 50px;
    }
  
    .contacts__img {
      width: 100%;
      object-fit: cover;
      overflow: hidden;
    }
  
    .main-form {
  
      &__info {
  
        .section-title {
          margin-bottom: 25px;
          text-align: center;
          font-size: 18px;
          line-height: 22px;
        }
    
        .form-wrapper {
          &__input {
    
            &:hover {
              border: 1px solid #B1231E;
              color: #B1231E;
            }
          }
          .checkbox-contact {
  
            .radio-button:checked + .custom-radio-button {
              border: 2px solid #B1231E;
              &::before {
                transform: translate(-50%, -50%) scale(1);
              }
            }    
  
            .checkbox-label {
              font-size: 11px;
            }
          }

          .checkbox {
  
            &:checked+label::before {
              background-color: #B1231E;
              background-image: url(../img/main-page/form/check.svg);
              background-size: 10px;
            } 
          }
    
          .form-link {
            font-size: 10px;
          }
        }
      }
    }
  
    .main-info {
      margin-top: 0px;
      padding-left: 50px;
  
      &-wrapper {
        grid-gap: 55px;
        width: 100%;
  
        &__block {
  
          svg {
            width: 43px;
            height: 65px;
          }
    
          &-title {
            font-size: 16px;
          }
    
          &-description {
            font-size: 16px;
          }
        }
      }    
    }
  }
}


@media only screen and (min-width: 1200px) {

  .contacts-form .main-form__info .form-wrapper {
  
    .form-wrapper__label {
      font-size: 22px;
    }
    .checkbox-contact .checkbox-label {
      font-size: 13px;
    } 
  }


}