.blog {
  margin-top:50px;

  .container {
    position: relative;

    .section-title {
      font-weight: 700;
      font-size: 22px;
      line-height: 27px;
      text-transform: uppercase;
      color: #B1231E;

    }

    .description {
      margin: 10px 0px 40px;
      font-weight: 700;
      font-size: 47px;
      max-width: 732px;
      line-height: 50px;
    }
  }

    &-swiper{
      padding-top: 25px;      

      .swiper-wrapper {
        position: relative;
      }

      .swiper-pagination-clickable .swiper-pagination-bullet {
        background: #B1231E;
      }
    }
}

.blog-block {


  &__wrapper {

    &-img {
      width: 100%;
      height: 300px;
      overflow: hidden;
      object-fit: cover;
    }
  }

  &__info {
    padding-top: 20px;

    .header-text {
      font-weight: 400;
      font-size: 15px;
      line-height: 176%;
      color: #5e5e5e;
    }

    .title {
      margin: 20px 0px;
      font-weight: 400;
      font-size: 26px;
      line-height: 130%;
      color: #313131;
    }

    &-link {
      display: flex;
      align-items: center;
      font-weight: 500;
      font-size: 13px;
      line-height: 13px;
      letter-spacing: .08em;
      text-transform: uppercase;
      color: #B1231E;
      transition: all 0.4s ease-in-out;

      &:hover {
        color: #64100d;
        .blog-arrow {
          margin-left: 20px;
          background: #FFFFFF;
          transition: all 0.4s ease-in-out;

          &::before {
            border-left: 7px solid #B1231E;
          }

          &::after {
            background: #B1231E;
          }
        }
      }
      

      .blog-arrow {
        position: relative;
        display: block;
        width: 39px;
        height: 39px;
        margin-left: 10px;
        background: #B1231E;
        border-radius: 5%;
        border: solid 1px black;
        transition: all 0.4s ease-in-out;


        &::before {
          content: "";
          position: absolute;
          top: 50%;
          right: 4px;
          transform: translate(-50%,-50%);
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 7px solid #000000;
        }
  
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 20%;
          transform: translateY(-50%);
          width: 15px;
          height: 2px;
          background: #000000;
        }
      }
    }
  }
}

