.map {
  padding-top: 20px;
  background: rgb(80,12,12);

  &-block {
    

    .text {
      color: #FFFFFF;
    }

    .section-title {
      color: #FFFFFF;

    }

    .description {
      color: #FFFFFF;
      
    }
  }

  &-wrapper-block {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;

    svg {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}







