.header {
  
  .navbar  {
    background-color: #FFFFFF;

    .container {
      background-color: #FFFFFF;

      .header-logo {
        width: 150px;
        height: 40px;
      }

      .navbar-collapse {
        justify-content: flex-end;
      }

      .navbar-toggler {
        position: relative;
        display: block;
        width: 30px;
        height: 16px;
        border: none;
        box-shadow: none;

        &-icon,
        &::before,
        &::after {
          position: absolute;
          left: 0;
          width: 100%;
          height: 10%;
          transition: all 0.3s ease 0s;
          background-color: #000;
        }

        &::before,
        &::after {
          content: '';
        }
        &::before {
          top: 0;
        }
        &::after {
          bottom: 0;
        }
        &-icon {
          top: 50%;
          transform: scale(1) translate(0px, -50%);
        }
      
        &-icon {
          background-image: none;
        }
      }
      .collapse {
        .navbar-nav {

          .nav-item {
            padding-right: 20px;

            .nav-link  {
              color:#000;
  
              &:hover {
                color: #B1231E;
              }
            }
          }

          .dropdown-menu {
            border: 0;
            .dropdown-item {
  
              &:hover {
                background-color:#B1231E;
                color: #FFFFFF;
              }
            }
            .dropdown-item:active {
              background-color:#831916;
            }
          }
        }
      }
    } 
  }
}

@media only screen and (min-width: 992px) {

  .dropdown-menu {
    border: 0;
    .dropdown-item {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: 100%;
        border-bottom: 1px solid rgba(196, 196, 196, 0.3);
      }

      &:hover {
        background-color:#B1231E;
        color: #FFFFFF;
      }
    }
    .dropdown-item:active {
      background-color:#831916;
    }
  }


}